@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
=======
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
>>>>>>> 44b71e11051eb85b9d5fb50b9684715a9a08b560
}
